html,
body {
	height: 100%;
	margin: 0;
	background-color: #FFFFFF;
	font-family: 'RobotoDraft', sans-serif;
}
.logo {
	margin-left: 32.5%;
	margin-top: 5%;
	width: 400px;
	height: 270px;
}
.submit {	
	width: 400px;
	margin-left: 32.5%;
}
.submit-button {
	position: absolute;
	right: 36%;
	margin-top: 0.5%;
	background: #F44336;
	color: #FFFFFF;
}